* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  margin-bottom: 0;
}

/* header css  */
body {
  background-color: #e4fbff;
  padding: 0;
  margin: 0;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo-brain {
  display: flex;
  width: 30%;
  flex-wrap: wrap;
}

.hlubina {
  display: flex;
  font-family: 'Bungee';
  color: #0c85ab;
  font-size: 25px;
}

.obal-temata {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.nadpis-stranky {
  margin-bottom: 0px;
  font-family: 'alatsi';
}

h2 {
  display: flex;
  margin-bottom: 0;
  justify-content: center;
}

.tlacitka-tema {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 10px;
  align-items: center;
}

.button1 {
  border-style: none;
  background-color: #0c85ab;
  color: white;
}

@media (max-width: 699px) {
  .obrazek-responzivni-vypln {
    display: none;
  }
}

@media (min-width: 700px) {
  .obal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .obrazek-responzivni-vypln,
  .karta-responzivni-obal {
    width: calc(100% / 2);
  }

  .karta-responzivni-obal {
    border-left: dotted;
    border-bottom: dotted;
    border-color: #0c85ab;
    border-width: 2px;
    padding-bottom: 20px;
  }

  .obrazek-responzivni-vypln {
    display: flex;
    align-items: center;
  }
}
