* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  margin-bottom: 0;
}

/* header css  */
body {
  background-color: lightgray;
  padding: 0;
  margin: 0;
}

/* tělo karty  */
.obal-karta {
  display: flex;
  justify-content: center;
}

.karta {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: #0c85ab;
  border-style: double;
  border-width: 3px;
  width: 65%;
  min-height: 150px;
  font-family: 'alatsi';
  background-color: white;
  padding: 20px;
}

.karta__obrazek {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media (max-width: 699px) {
  .obrazek-responzivni-vypln {
    display: none;
  }
}

@media (min-width: 700px) {
  .obal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .obrazek-responzivni-vypln,
  .karta-responzivni-obal {
    width: calc(100% / 2);
  }

  .karta-responzivni-obal {
    border-left: dotted;
    border-bottom: dotted;
    border-color: #0c85ab;
    border-width: 2px;
    padding-bottom: 20px;
  }

  .obrazek-responzivni-vypln {
    display: flex;
    align-items: center;
  }
}

.barevnePozadi {
  height: 100vh;
}
