img {
  max-width: 100%;
  margin-bottom: 0;
}

.poradiKarty {
  font-family: 'alatsi';
  font-size: 18px;
  color: #096a88;
  text-align: center;
  margin-bottom: 15px;
  padding-top: 10px;
}

.obal-poradiKarty {
  border-radius: 50%;
  background-color: white;
  height: 45px;
  width: 45px;
  border-width: 1px;
  border-style: dotted;
  border-color: #096a88;
}

.responzivni-obal-poradiKarty {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}
