.tlacitka {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tlacitko-strana,
.tlacitko-zpet {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.tlacitka-navigace {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 30px;
}

.button-sipka-vpravo,
.button-sipka-vlevo {
  font-family: 'alatsi';
  width: 110px;
  height: 30px;
  background-color: #cee6ee;
  border-style: none;
}

.button1 {
  border-style: none;
  background-image: linear-gradient(to bottom right, #3c9dbb, #074f66);
  color: white;
  font-family: 'alatsi';
  font-size: 18px;
  font-weight: 100;
  border-radius: 13px;
  padding: 5px 12px 5px 12px;
  margin: 15px;
}

.button1-zpet {
  background-image: linear-gradient(to bottom right, #93329e, #440a67);
}
