.tlacitka {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tlacitko-strana,
.tlacitko-zpet {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.tlacitka-navigace {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 10px;
}

.button-sipka-vpravo,
.button-sipka-vlevo {
  font-family: 'alatsi';
  font-size: 16px;
  height: 25px;
  border-radius: 13px;
  color: white;
  background-image: linear-gradient(to bottom right, #3c9dbb, #074f66);
  border-style: none;
}

.button-sipka-vpravo {
  margin-right: 30px;
}

.button-sipka-vlevo {
  margin-left: 30px;
}

.button1 {
  border-style: none;
  background-image: linear-gradient(to bottom right, #3c9dbb, #074f66);
  color: white;
  font-family: 'alatsi';
  font-size: 18px;
  font-weight: 100;
  border-radius: 13px;
  padding: 5px 12px 5px 12px;
  margin: 10px;
}

.button1-zpet {
  background-image: linear-gradient(to bottom right, #a996b8, #65427f);
}
