* {
  box-sizing: border-box;
}

/* tělo karty  */
.obal-karta {
  display: flex;
  justify-content: center;
}

.karta {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: #0c85ab;
  border-style: double;
  border-width: 3px;
  width: 65%;
  min-height: 300px;
  font-family: 'alatsi';
  background-color: #0c85ab;
  color: white;
  font-size: 25px;
  padding-left: 20px;
  padding-right: 20px;
}

.karta-obrazek {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: #0c85ab;
  border-style: double;
  border-width: 3px;
  width: 65%;
  font-family: 'alatsi';
  background-color: #0c85ab;
  color: white;
  font-size: 18px;
  object-fit: scale-down;
}
