.modal {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  opacity: 0.8;
  top: 50%;
  left: 50%;
  height: 200px;
  width: 200px;
  padding: 10px;
  border-radius: 50%;
}

.modal-kontejner {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1;
}

.tlacitko-navod {
  background-color: white;
  color: black;
}

.navod-text {
  background-color: #0c85ab;
  font-family: 'alatsi', sans-serif;
  list-style-type: none;
}
