footer {
  display: flex;
  font-family: 'alatsi';
  font-size: 12px;
  text-align: center;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #096a88;
}
