@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/*Index*/
* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 26rem;
  margin-right: auto;
  margin-left: auto;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

p {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  width: 100px;
  height: 100px;
  background-image: url('./assets/hlubina-mysleni\ copy.png');
}

.tlacitka-index {
  background-color: aqua;
}

/* Stránka vkládání*/
.tlacitko-zpet {
  padding: 30px;
}

/* Stránka procvičování*/
.tlacitka-procvicovani {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}
