* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.tlacitko-navod {
  display: flex;
  background-color: #65427f;
  color: white;
  font-size: 20px;
  border: none;
  text-align: center;
  align-items: center;

  width: 25px;
  height: 25px;
  margin-top: 10px;
}

.karta-responzivni-obal {
  background-color: #e4fbff;
  height: 100vh;
}

.obal {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 750px) {
  .obal {
    display: flex;
    flex-direction: row;
  }

  .karta-responzivni-obal {
    max-width: 40%;
    padding-bottom: 20px;
    background-color: #e4fbff;
  }

  .obal {
    background-color: #aaaaaa;
    height: 100vh;
    width: 100vw;
  }
}
