@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/*Index*/
* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 26rem;
  margin-right: auto;
  margin-left: auto;
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

/* .tlacitka-index {
/*   display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px; }*/

/* Stránka vkládání*/
.tlacitko-zpet {
  padding: 30px;
}

/* Stránka procvičování*/
/* .tlacitka-procvicovani,
.tlacitka-tema {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
} */

/* Css homepage - Magda*/
img {
  max-width: 100%;
  margin-bottom: 0;
}

.obrazek {
  margin: 0;
}

.oAplikaci {
  background-color: #0c85ab;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 50px;
  padding-left: 50px;
  color: white;
  font-family: 'alatsi';
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
  width: 100%;
}

h1 {
  font-family: 'Bungee';
  color: #0c85ab;
  font-size: 3em;
  text-align: center;
  margin-bottom: 20px;
  margin-top: -70px;
}

body {
  background-color: #e4fbff;
  padding: 0;
  margin: 0;
}

.tlacitko-vkladani,
.tlacitko-procvicovani,
.tlacitko-zpet,
.tlacitko--tema {
  display: flex;
  justify-content: center;
  border-style: none;
  margin: 20px;
  background-color: #0c85ab;
  padding: 7px;
  color: white;
}

a {
  text-decoration: none;
  color: white;
  font-family: 'alatsi';
  font-size: 18px;
}

/* Css temata - Magda*/
.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hlubina {
  display: flex;
  font-family: 'Bungee';
  color: #0c85ab;
  font-size: 25px;
}

.logo-brain {
  display: flex;
  width: 30%;
  flex-wrap: wrap;
}

/* Css tema - Magda*/
.tlacitka-tema {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-left: 30px;
  margin-right: 30px;
}

.tema {
  display: flex;
  height: 30px;
  min-width: 70%;
  margin-top: 20px;
  margin-left: 50px;
  background-color: white;
}

.nadpis-stranky {
  margin-left: 50px;
  margin-bottom: 0px;
  font-family: 'alatsi';
}

h2 {
  margin-bottom: 0;
}

.tlacitka-index {
  display: flex;
  justify-content: center;
}

.tlacitko-zpet {
  margin-top: 50px;
}

/* Css karta otazka text - Magda*/
.karta-ota {
  display: flex;
  justify-content: center;
  border: #0c85ab;
  border-style: dotted;
  border-width: 2px;
  align-items: center;
  max-width: 75%;
  min-height: 300px;
  font-family: 'alatsi';
  margin-left: 50px;
  background-color: white;
}

.tlacitko-dalsi,
.tlacitko-zpet-na-tema {
  display: flex;
  justify-content: center;
}

.otazky {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.navigace-karta {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  height: 20px;
}

.sipka-vpravo,
.sipka-vlevo {
  font-family: 'alatsi';
  width: 100px;
  background-color: cornsilk;
  border-style: none;
}

/* Css karta odpoved obrazek - Magda*/
.karta-ota__obrazek {
  background-image: url(img/VanGogh-HvezdnaNoc.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* Css karta odpoved zvuk - Magda*/
karta-odpoved-zvuk {
  display: flex;
  justify-content: center;
  width: 80%;
}

/* Css barevne pozadi odlišeno tema Francie - Magda*/
.body__tema1 {
  background-color: #f8eded;
}

.body__tema2 {
  background-color: #deeeea;
}

.body__tema3 {
  background-color: #e6e1ef;
}
